@font-face {
  font-family: 'Milonga';
  font-style: normal;
  font-weight: 400;
  src: local('Milonga'), local('Milonga-Regular'), url(https://fonts.gstatic.com/s/milonga/v7/SZc53FHnIaK9W5kfTzrMlQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BOA.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  margin-top: -1px;
}
h3 {
  font-size: 1em;
  color: #9bc1fa;
}
.nomargin {
  margin: 0px;
}
.breathe {
  padding-top: 0.75vh;
  padding-bottom: 0.5vh;
}
.background {
  padding-top: 1px;
  margin-top: -1px;
}
.content {
  background-color: #171d26;
  width: 97vw;
  margin: auto;
  margin-top: 0;
  color: #fcfaf2;
  text-align: center;
  font-size: 1.25em;
  font-family: "Milonga";
  min-height: 100vh;
  margin-bottom: -5vh;
  padding-bottom: 5vh;
}
.content > p {
  margin-top: 0px;
}
.contentHeader {
  background-image: url("../img/header.jpg");
  background-size: cover;
  height: fit-content;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.Logo {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.LogoBG {
  background-color: rgba(0, 0, 0, 0.65);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 3vh;
}
.blue {
  color: #9bc1fa;
}
.Event_Description {
  width: 69.42vw;
  margin: auto;
}
.Eventbrite {
  background-color: #261a17;
  margin-left: 0px;
  margin-right: 0px;
}
.EventbriteButton {
  background-color: #6f8ab3;
  font-family: "Abel";
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 2vw;
  text-decoration: none;
  width: 5em;
  border-radius: 5px;
  transition: 0.3s;
}
.EventbriteButton:hover {
  background-color: #9bc1fa;
  color: black;
}
.textcompressed {
  width: 69vw;
  display: inline-block;
}
.imagenarrow {
  width: 40vw;
  margin: 0px auto;
  display: block;
}
